<ion-view view-title="Modo Aprendizaje">
    <ion-content>
        <!-- Primer paso: Colocar el NFC -->
        <div class="card" ng-if="currentStep == 1">
            <div class="item item-text-wrap">
                <h2>Pega el NFC debajo el pictograma</h2>
            </div>

            <div class="item item-image">
                <img src="img/coloca-nfl.svg">
            </div>
            <div class="item item-divider">
                <button class="button button-block button-positive" ng-click="goto(2)">Ya está</button>
            </div>
        </div>

        <!--Paso dos: Acerca el movil al pictograma -->
        <div class="card" ng-if="currentStep == 2">
            <div class="item item-text-wrap">
                <h2>Acerca el móvil al pictograma</h2>
            </div>

            <div class="item item-image">
                <img src="img/escanear-color.svg">
            </div>
        </div>

        <!-- Paso 3: fotografía el pictograma -->
        <div class="list card"  ng-if="currentStep == 3">
            <div class="item item-image">
                <img ng-src="{{newPictogram.img}}">
            </div>

            <div class="item item-divider">
                <button class="button button-block button-positive" ng-click="photo()">
                    <i class="icon ion-camera"></i>
                    Sácale una foto
                </button>
                <button class="button button-block button-positive" ng-click="goto(4)">
                    Saltar paso
                </button>
            </div>
        </div>

        <!-- Paso 4: graba un sonido -->
        <div class="list card"  ng-if="currentStep == 4">
            <div class="item item-divider">
                <button class="button button-block button-positive" ng-click="startRecord()" ng-show="!recording">
                    <i class="icon ion-record"></i>
                    Grábate
                </button>
                <button class="button button-block button-positive" ng-click="stopRecord()" ng-show="recording">
                    <i class="icon ion-stop"></i>
                    Parar grabación
                </button>
                <button class="button button-block button-positive" ng-click="goto(5)" ng-show="!recording">
                    Saltar paso
                </button>
            </div>
        </div>

        <!-- Paso 5: Nombra el pictograma -->
        <div class="list card"  ng-if="currentStep == 5">
            <label class="item item-input">
                <input type="text" ng-model="newPictogram.text" placeholder="Nombra tu dibujo" required></input>
            </label>

            <div class="item item-image">
                <img ng-src="{{newPictogram.img}}">
            </div>

            <button class="item item-icon-left assertive" ng-click="play()">
                <i class="icon ion-music-note"></i>
                Start listening
            </button>
            <button class="button button-block button-positive" ng-click="ok()">
                <i class="icon ion-checkmark-round"></i>
                Todo correcto
            </button>
        </div>

        <!-- Mostrar pictograma escanedo -->
        <!--<div class="list card" ng-if="tag.id"  
            ng-repeat="pictogram in pictograms | filter:{id : tag.id}">
                <div class="item">
                    <h1>{{pictogram.text}}</h1>
                </div>

                <div class="item item-image">
                    <img ng-src="{{pictogram.img}}">
                </div>

            <button class="item item-icon-left balanced" ng-click="replay()">
                <i class="icon ion-music-note"></i>
                Otra vez
            </button>
        </div>-->
  </ion-content>
</ion-view>
