<ion-view view-title="TLOCUENTO">
    <ion-content>
        <!-- Se muestra cuando no hay nada escaneado -->
        <div class="card" ng-if="!tag.id">
            <div class="item item-divider">
                <h1>Escanea un dibujo</h1>
            </div>

            <div class="item item-image">
                <img src="img/escanear-color.svg">
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <button class="button button-block button-positive" ng-click="scanQR()">
                    <i class="icon ion-qr-scanner"></i>
                    Escanea un código QR
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <button class="button button-block button-positive" ng-click="photo()">
                    <i class="icon ion-camera"></i>
                    Saca una foto
                </button>
            </div>
        </div>
  </ion-content>
</ion-view>
